* {
    font-family: 'Kalam', cursive;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e2caa9;

}

h1 {
    text-align: center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#board{
    margin: 10px auto auto auto;
}

#buttons {
    text-align: center;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


#navbar1 {
    background-color: #763a3a;
 }

.navbar-inverse .navbar-nav > li > a {
    color: #e2caa9;
}

.navbar-inverse .navbar-brand {
    color:#e2caa9 ;
}

footer {
    clear: both;
    float: right;
    margin-top: 2vw;
}

.my-containers {
    border-radius: 25px;
    border: 10px solid #e2caa9;
    background: 0.5;
    height: 200px;
    overflow: auto;
    padding: 10px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: center;
    font-size: 0.9vw;
}

a {
    padding: 0px 2px 0px 2px;
}

.my-containers .header {
    font-size: 1.1vw;
    color: white;

}


.my-containers .header2 {
    font-size: 1.5vw;
    color:khaki;

}

.my-containers.second-row {
    font-size: 0.7vw;
}
#container-profile {
    background-color:#914848 ;
    color: yellow;
    
}

#container-pendingrequests {
    background-color:#408080 ;
    color: yellow;
}

#container-sentrequests {
    background-color: #c46200;
    color: yellow;
}

#container-games {
    background-color: olive;
    color: yellow;
}

#container-fingames {
    background-color:brown;
    color: yellow;
}

.botuni {
    float: right;
}

.bg-primary , .btn-danger {
    border-radius: 15px;
    border: 0px;
}

.btn-danger {
    border-radius: 15px;
    border: 0px;
}

#gameInfo {
    visibility: hidden;
}

#submit-button {
    visibility: visible;
}