
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e6f9ff;
}

h1 {
    text-align: center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#board{
    margin: 10px auto auto auto;
}

#buttons {
    text-align: center;
}

#startBtn, #clearBtn {
    border-radius: 4px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


#navbar1 {
    background-color: yellow;
 }

.navbar-inverse .navbar-nav > li > a {
    color: red;
}

.navbar-inverse .navbar-brand {
    color: red;
}

footer {
    clear: both;
    float: right;
}

.my-containers {
    border: 10px solid #e6f9ff;
    height: 200px;
    overflow: auto;
    padding: 10px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: center;
    font-size: 0.9vw;
}

.my-containers .header {
    font-size: 1.1vw;
    color: white;

}
#container-profile {
    background-color: red;
    color: yellow;
    
}

#container-pendingrequests {
    background-color: blue;
    color: yellow;
}

#container-sentrequests {
    background-color: green;
    color: yellow;
}

#container-games {
    background-color: pink;
    color: purple;
}

#container-fingames {
    background-color: cyan;
    color: crimson;
}
