@{
    ViewData["Title"] = "Contact";
}


<address>
    <strong>Backend:</strong> <a href="mailto:josip.paulik@fer.hr">josip.paulik@fer.hr</a><br />
    <strong>Design and frontend:</strong> <a href="mailto:josip.toric@fer.hr">josip.toric@fer.hr</a>
</address>
