@using Microsoft.AspNetCore.Razor.Parser.Internal
@model Game



<h1>@Model.WhitePlayer.Username</h1>
<h2>vs</h2>
<h1>@Model.BlackPlayer.Username</h1>


<div id="board-system">
    <div id="board" style="width: 400px"></div>
    <button id="submit-button" asp-action="SubmitMove" asp-route-FEN="" asp-route-PGN="">Submit</button>
    <button id="cancel-button">Cancel</button>
</div>



<p>Status: <span id="status"></span></p>



<div id="invisibleStuff">
    <p>FEN: <span id="fen">@Model.FEN</span></p>
    <p>PGN: <span id="pgn">@Model.PGN</span></p>
</div>

@section scripts
{
    <script src="~/js/chessboard-0.3.0.min.js"></script>
    <script src="~/js/chessLegal.js"></script>
    <script src="~/js/chess.js"></script>
}

