@using Microsoft.AspNetCore.Razor.Parser.Internal
@model Game



<h1>@Model.WhitePlayer.Username vs @Model.BlackPlayer.Username</h1>

<div id="board" style="width: 400px"></div>
<br/>

<div id="board-system">
    <button class="bg-primary active" id="submit-button" asp-action="SubmitMove" asp-route-FEN="" asp-route-PGN="">Submit</button>
    <button class="bg-primary active" id="cancel-button">Cancel</button>
    <button class="bg-primary active" id="resign">Resign</button>
    <button class="bg-primary active" id="Offer draw">Offer draw</button>
    <button class="bg-primary active" id="Abort">Abort</button>
    <button class="bg-primary active" id="Accept draw">Accept draw</button>



</div>


<br/>
<br/>
<div>Status: <span id="status"></span></div>



<div id="invisibleStuff">
    <p>FEN: <span id="fen">@Model.FEN</span></p>
    <p>PGN: <span id="pgn">@Model.PGN</span></p>
</div>

@section scripts
{
    <script src="~/js/chessboard-0.3.0.min.js"></script>
    <script src="~/js/chessLegal.js"></script>
    <script src="~/js/chess.js"></script>
}

